.header-template, .data-template, .footer-template {
    padding: 20px;
  }
  
  .header-logo {
    width: 100px;
  }
  
  .header-template h1 {
    font-size: 28px;
  }
  
  .footer-template p {
    font-size: 14px;
    color: #555;
  }
  